{% extends "main.html" %}
{% block title %}  profil użytkownika{% endblock %}
{% block titleh1 %}Profil użytkownika{% endblock %}
{% block content %}

<div class="profile-form">
  <h2>Ukryte serie</h2>
  <form method="post" action="{% url komiksiarnia.lusers.views.user_profile %}">
    <ul class="form">{{ serie_form.as_ul }}</ul>
    <input type="submit" value="Zapisz" >
  </form>
</div>

<div class="profile-form">
  <h2>Zmiana hasła</h2>
  <form  method="post" action="{% url django.contrib.auth.views.password_change %}">
    <ul class="form">{{ passwd_form.as_ul }}</ul>
    <input type="submit" value="Zapisz">
  </form>
</div>

{% endblock %}
